.hide{
  display: none;
}


#mp {
    width: 250px;
    height: 250px;
  
  }
  
  h1 {
    margin:30px 0;
    color: #000066;
    text-align: center;
    padding: 1em 1em 1em 1em;
    
  }



   

 
  