body{
  font-family: 'Quando', serif;
}

.hide{
  display: none;
}

header {
  display: inline-block;
  align-items: center;
  margin-bottom: 10px;
}


#mp {
  width: 200px;
}

#pc {
  width: 400px;
  height: 215px;
  position: absolute;
  margin-left: 700px;
}
  
h1 {
  color: #000066;
  font-family: 'Quando', serif;
  text-align: center;
  position: absolute;
  top:  70px;
  left: 300px;
  font-size: 35px;
  }

ul {
  border: 4px solid #000066;
  border-radius: 15px;
  font-size: 20px;
  width: 550px;
  height: 160px;
  text-orientation: initial;
  padding: 38px;
 }
   
.boton {
  display: block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #003366;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  }

.botonpp1 {
  margin-left: 185px;
  
  }

.botonpp12 {
    margin-top: -53px;
    margin-left: 640px;
    
    }

.botonpp2 {
  margin-left: 500px;
  }

.botonpp3 {
  margin-top: 10px;
  margin-left: 20px;
  }

.botonpp4 {
  margin-top: -53px;
  margin-left: 170px;
  margin-bottom: 10px;
}


.parrafo {
  color: #000066;
  font-size: 20px;
  }

.parrafopp2 {
  color: #000066;
  font-size: 20px;
  margin-left: 500px;
  }

.parrafopp3 {
  color: #000066;
  font-size: 20px;
  margin-left: 25px;
  }

.inputpp2 {
  margin-left: 500px;
  padding: 12px;
  }

.inputpp3 {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
  margin-left: 25px;
}

.inputpp4 {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 25px;
}

.inputoffset {
  width: 5%;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 25px;
}

footer{
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color: darkslategrey;
  }



   

 
  