body {
  font-family: 'Quando', serif;
  box-sizing: border-box;  
}

.hide {
  display: none;
}

header {
  align-items: center;
  margin-bottom: 10px;
}


.mp {
  width: 200px;
}

.pc {
  width: 400px;
  height: 225px;
  position: absolute;
  margin-left: 750px;
}

h1 {
  color: #000066;
  font-family: 'Quando', serif;
  text-align: center;
  position: absolute;
  top: 70px;
  left: 300px;
  font-size: 35px;
}

.resumen {
  border: 4px solid #000066;
  border-radius: 18px;
  font-size: 20px;
  width: 550px;
  height: 240px;
  padding: 0 1.5em 0 1.5em;
  box-sizing: border-box;
  margin-left: 30px;
  margin-bottom: 10px;
}

.boton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #003366;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}


.botonpp1 {
  margin-top: 25px;
  margin-left: 250px;
}

.botonpp12 {
  margin-left: 100px;
}

.botonpp2 {
  margin-left: 500px;
}

.botonpp3 {
  padding: 15px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
}



.parrafo {
  display: block;
  color: #000066;
  font-size: 20px;
}

.parrafopp2 {
  margin-left: 500px;
}

.parrafopp3 {
  margin-left: 25px;
  margin-top: 5px;
  box-sizing: border-box;
}

.parrafopp4 {
<<<<<<< HEAD
  color: #000066;
  font-size: 20px;
=======
>>>>>>> 6e46ab24b7b4c0b33f286916da80f20b4fb6b8ca
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 25px;
}

.inputpp2 {
  margin-left: 500px;
  padding: 12px;
}

.inputpp3 {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
}

.inputpp4 {
  display: block; 
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 25px;
}

.inputoffset {
  width: 5%;
  margin-left: 25px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 25px;
  margin-top: 5px;
  margin-right: 1200px;
  margin-bottom: 15px;
}

footer {
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  color: darkslategrey;
  margin-top: 30px;
<<<<<<< HEAD
}
=======
}
 
  
>>>>>>> 6e46ab24b7b4c0b33f286916da80f20b4fb6b8ca
